<div class="container">
  <h4 class="font-weight-bold">Choose Chart</h4>
  
  <button (click)="setActiveChart('Line Chart')" class="btn btn-success">Line Chart</button>&nbsp;
  <button (click)="setActiveChart('Candle Chart')" class="btn btn-success">Candle Chart</button>&nbsp;
  <button (click)="setActiveChart('Bar Chart')" class="btn btn-success">Bar Chart</button>&nbsp;
  
</div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<BR>
<div class="container">
  <h4 class="font-weight-bold">Data from last: {{activeTime}}</h4>
  <button (click)="setActiveTime('Seven Days')" class="btn btn-primary">7 Days</button>&nbsp;
  <button (click)="setActiveTime('Two Weeks')" class="btn btn-primary">2 Weeks</button>&nbsp;
  <button (click)="setActiveTime('Month')" class="btn btn-primary">Month</button>&nbsp;
  <button (click)="setActiveTime('Two Months')" class="btn btn-primary">2 Months</button>&nbsp;
  <button (click)="setActiveTime('Half Year')" class="btn btn-primary">Half year</button>&nbsp;
  <button (click)="setActiveTime('Year')" class="btn btn-primary">Year</button>&nbsp;
  <button (click)="setActiveTime('Two Years')" class="btn btn-primary">2 Years</button>&nbsp;
  <button (click)="setActiveTime('Five Years')" class="btn btn-primary">5 Years</button>&nbsp;
  <button (click)="setActiveTime('Ten Years')" class="btn btn-primary">10 Years</button>&nbsp;
  <button (click)="setActiveTime('Twenty Years')" class="btn btn-primary">20 Years</button>&nbsp;
</div>
<BR>
<!-- <div class="container"> -->
  <tr *ngFor="let detail of fullCompanyData">
    
      <p class="text-justify"><b>{{detail.x}}:</b> {{detail.y}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    
  </tr>
<!-- </div> -->
  <BR>
<div class="container">
  <button (click)="backToThePreviousList()" class="btn btn-success">Back to the list</button>
</div>
<BR>
  <BR>
