<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li *ngIf="authenticationService.isUserLogged()"><a routerLink="/welcome/{{getUsername()}}" class="nav-link">Home</a></li>
      <li><a routerLink="/dowjones30" class="nav-link">Dow Jones 30</a>
      <li><a routerLink="/standardandpoors500" class="nav-link">S&P 500</a>
        <li><a routerLink="/nasdaq100" class="nav-link">Nasdaq 100</a>
      <li *ngIf="authenticationService.isUserLogged()"><a routerLink="/mycompanies" class="nav-link">My Companies
          List</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!authenticationService.isUserLogged()"><a routerLink="/register" class="nav-link">Registration</a></li>
      <li *ngIf="!authenticationService.isUserLogged()"><a routerLink="/login" class="nav-link">Login</a></li>
      <li *ngIf="authenticationService.isUserLogged()"><a routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>


  </nav>
</header>