<h1>Welcome {{name}}!</h1>
<h4>Check your favourite index or <a routerLink="/mycompanies">create your own list with companies that you interests.</a></h4>
<BR>
<BR>
<BR>
  <h4>Popular Companies</h4>
  <div class="container">
      <table>
            <td (click)="goToCharts(company.symbol)" *ngFor="let company of randomDowJones30Companies">
              <div class="card" style="width: 15rem;" [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">
                  <div class="card-body">
                    Symbol: {{company.symbol}}<BR>
                    Price: {{company.price | currency: 'USD'}}<BR>
                    Change: {{company.change | currency: 'USD'}} ({{company.changeInPercent}}%)
                    <button class="btn btn-secondary" (click)="goToCharts(company.symbol)">Charts</button>
                  </div>
                </div>
              </td>
      </table>
    </div>
    <BR>
<div class="container">
  <table>
        <td (click)="goToCharts(company.symbol)" *ngFor="let company of randomNasdaq100Companies">
          <div class="card" style="width: 15rem;" [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">
              <div class="card-body">
                Symbol: {{company.symbol}}<BR>
                Price: {{company.price | currency: 'USD'}}<BR>
                Change: {{company.change | currency: 'USD'}} ({{company.changeInPercent}}%)
                <button class="btn btn-secondary" (click)="goToCharts(company.symbol)">Charts</button>
              </div>
            </div>
          </td>
  </table>
</div>
<BR>
<h4>Popular Indexes</h4>
<div class="container">
  <table>
        <td (click)="goToCharts(company.symbol)" *ngFor="let company of nasdaq100DowJones30SAndP500Indexes">
          <div class="card" style="width: 15rem;" [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">
              <div class="card-body">
                Symbol: {{company.symbol}}<BR>
                Price: {{company.price | currency: 'USD'}}<BR>
                Change: {{company.change | currency: 'USD'}} ({{company.changeInPercent}}%)
                <button class="btn btn-secondary" (click)="goToCharts(company.symbol)">Charts</button>
              </div>
            </div>
          </td>
  </table>
</div>
(Tip: Click on the card to see the companies list or on the charts button to check details, statistics and charts)

<BR><BR>