<h1>{{indexDowJones30.name}}</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>Change In %</th>
        <th>Charts</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="goToCharts(indexDowJones30.symbol)">
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}">{{indexDowJones30.symbol}}</td>
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}">{{indexDowJones30.name}}</td>
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}">{{indexDowJones30.price | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}">{{indexDowJones30.change | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}">{{indexDowJones30.changeInPercent}}%</td>
        <td [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}"><button class="btn btn-secondary">Charts</button></td>
      </tr>
    </tbody>
  </table>

  <BR>
  <BR>
</div>
<h1>Index Companies</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Dividend</th>
        <th>Change</th>
        <th>Change In %</th>
        <th>Charts</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="goToCharts(company.symbol)" *ngFor="let company of companies">
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.symbol}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.name}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.price | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.annualYieldDividend | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.change | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.changeInPercent}}%</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}"><button class="btn btn-secondary">Charts</button></td>
      </tr>
    </tbody>
  </table>

  <BR>
  <BR>
</div>
