<h1>{{indexDowJones30.name}}</h1>
<BR>
  <td class="d-flex justify-content-center">
    <div class="card" style="width: 40rem;"
      [ngClass]="{increase: isPositive(indexDowJones30.change), decrease: isNegative(indexDowJones30.change)}" (click)="goToCharts(indexDowJones30.symbol)">
      <div class="card-body">
        Symbol: {{indexDowJones30.symbol}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: {{indexDowJones30.price | currency: 'USD'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Change: {{indexDowJones30.change | currency: 'USD'}} ({{indexDowJones30.changeInPercent}}%)
        <button class="btn btn-secondary" (click)="goToCharts(indexDowJones30.symbol)">Charts</button>
      </div>
    </div>
  </td>
  <BR>
  <h4>Index Companies</h4>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Dividend</th>
        <th>Change</th>
        <th>Change In %</th>
        <th>Charts</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="goToCharts(company.symbol)" *ngFor="let company of companies">
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.symbol}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.name}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.price | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.annualYieldDividend | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.change | currency: 'USD'}}</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}">{{company.changeInPercent}}%</td>
        <td [ngClass]="{increase: isPositive(company.change), decrease: isNegative(company.change)}"><button class="btn btn-secondary">Charts</button></td>
      </tr>
    </tbody>
  </table>

  <BR>
  <BR>
</div>
